NODE_ENV=development
PORT=3002
SERVICE_NAME=property-service

MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/hotel_property_db

REDIS_URL=redis://localhost:6379
RABBITMQ_URL=amqp://admin:admin123@localhost:5672

ACCESS_TOKEN_SECRET=same_as_auth_service

# Cloudinary — get from cloudinary.com dashboard
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

AUTH_SERVICE_URL=http://localhost:3001
