NODE_ENV=development
PORT=3004
SERVICE_NAME=payment-service

MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/hotel_payment_db

REDIS_URL=redis://localhost:6379
RABBITMQ_URL=amqp://admin:admin123@localhost:5672

ACCESS_TOKEN_SECRET=same_as_auth_service

# PayPal — get from developer.paypal.com
PAYPAL_CLIENT_ID=your_paypal_sandbox_client_id
PAYPAL_CLIENT_SECRET=your_paypal_sandbox_secret
PAYPAL_MODE=sandbox

BOOKING_SERVICE_URL=http://localhost:3003
